@charset "UTF-8";


* {  /*全域選擇*/
    margin: 0;	padding: 0;	
}
h1 {   /*可以影響body裡的樣式*/
    color: rgb(55, 0, 255);
    background-color: aquamarine;
}
p {
    background-color: bisque; margin: 4px;  border: solid black 1px;
}
#maindiv {
    font-size: 75%;
    background-color: blueviolet;
}
.poem {
    /* font-style: italic; */
    font-size: 120%;
}